body {
  background-color: darkblue;
  color: white;
  font-family: "Courier New", Courier, monospace;
}

/*
ol {
  counter-reset: item
}

li {
  display: block
}

li:before {
  content: counters(item, ".") " ";
  counter-increment: item
}
*/

a {
  color: lightgray;
}

h1, h2, h3, h4  {
  color: lightblue;
}

img {
  max-width: 80%;
  margin: auto;
  float: none!important;
}

img[alt$=">"] {
  float: right;
}

img[alt$="<"] {
  float: left;
}

img[alt$="><"] {
  display: block;
  max-width: 80%;
  height: auto;
  margin: auto;
  float: none!important;
}

.sidebar {
  float: left;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  width: 20%;
  height: 100%;
  color: lightblue;
}

.content {
  float: right;
  position: absolute;
  top: 0;
  right: 0;
  background-color: green;
  height: 100%;
  width: 80%;
  border: 0
}

#iframe_sidebar {
    position: relative;
    height: 100%;
    width: 100%;
}

#iframe_content {
    background-color: green;
    position: relative;
    height: 100%;
    width: 100%;
    color: white;
}
